*,
*::before,
*::after {
  box-sizing: border-box;
}

/* css for header*/
.header {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  text-align: center;
  color: #011e52;
  font-size: 50px;
}

.header-icon {
  width: 50px;
  height: 50px;
  padding: 5px;
}

.logo-cont {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 300px;
}

/* css for tables parent/puppies */
.table {
  border: 1vw solid lightgray;
}

.table-header {
  background-color: lightgray;
}

.bold {
  font-weight: bold;
}

/* css for footer */
.address {
  background-color: #262626;
  color: white;
  padding: 2vw 0 2vw 0;
}

.foot-links {
  margin-left: 3ch;
  font-size: 2vw;
  color: white;
  text-decoration: none;
}

footer {
  border: 2px solid #dae0e8;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.body-border {
  background-image: radial-gradient(circle, #abb7cc, #7b8494, #434a57);
}

#nav-index {
  background-color: #262626;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}


/* css for carousel pics and container */
.carousel {
  width: 100%;
}

.image {
  max-width: 100%;
  height: 30vw;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.grid-item2 {
  grid-column: span 2;
  font-size: 30px;
  color: #011e52;
  padding: 5px;
}

.custom-shape-divider-bottom-1684127970 .shape-fill {
  fill: #403F3F;
}

.svg {
  position: relative;
}

.circle-svg {
  fill: currentColor;
  height: auto;
  max-width: 66vmin;
  transform-origin: center;
  width: 66%;
}

.p-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.p-h2 {
  color: white;
  background-color: #403f3f;
  opacity: 0.6;
  width: 100%;
}

#wiki-link {
  color: black;
}

.about-cont {
  margin-top: 50px;
}

/* css for card photo on puppies page */
.grid-container-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #3d3d3d;
  padding: 10px;
  grid-gap: 15px;
}

.card-img-top {
  max-width: 100%;
  height: 25vw;
  border: 2px solid black;
}

.grid-item {
  background-color: #4f4e4e;
  color: white;
  margin-top: 10px;
}

.card-text {
  font-size: 12px;
}

/* css for email us button */
.d:link,
.d:visited {
  background-color: #4f4e4e;
  color: black;
  border: 2px solid #4f4e4e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

.d:hover,
.d:active {
  background-color: #011e52;
  color: white;
}

/* css for text on puppies page */
#p-paragraph {
  text-align: center;
  font-size: 20px;
  color: #011e52;
}

#p-h1 {
  text-align: center;
  color: white;
}

/* css for form and contact info on contact us page */
#form-info {
  width: 60%;
}

#contact-info {
  width: 35%;
  margin-left: 10px;
}

#contact-margin {
  margin-top: 20px;
}

.contact-info {
  font-size: 3vw;
}

.flex-container {
  display: flex;
}

/* css for flexbox for parents page */
.flex-cont-par {
  display: flex;
  margin: 10px;
  background-color: #403e3e;
}

.flex1 {
  border: 2rem solid #262626;
  flex-grow: 1;
  width: 30vw;
  height: 30vw;
}

.flex2 {
  color: black;
  background-color: lightgray;
  flex-grow: 2;
  align-self: center;
  margin: 0 1rem 0 1rem;
}

.flex2 h3 {
  background-color: #262626;
  color: lightgray;
}

.extra img {
  width: 12vw;
  height: 12vw;
  transition: width 1s, height 1s;
}

.extra img:hover {
  width: 25vw;
  height: 25vw;
}

/* css for form and headers on contact us page */
form {
  background-color: #4f4e4e;
}

.header-contact {
  font-size: 20px;
  background-color: #7d7a7a;
  margin-top: 10px;
}

/* css for hero images for about us and contact us */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/images/fatima-carmela.jpeg");
  height: 45vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid white;
}

.hero-text {
  text-align: center;
  font-size: 5vw;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image-about {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/static/images/american-bulldogs2.jpg");
  height: 45vw;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 2px solid black;
}

/* css for text blocks in all/most pages */
.about-text {
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5vw;
  color: #011e52;
}

.h3-header {
  background-color: #403f3f;
  border-bottom: 3px solid black;
  color: white;
  opacity: 0.6;
}

/* css for read more function in index */
#more {
  display: none;
}

#myBtn {
  background-color: #403f3f;
  color: white;
  border-radius: 50%;
  padding: 10px;
}

#myBtn:hover {
  background-color: #011e52;
}

@media screen and (max-width: 600px) {
  .nav-bar button, .nav-bar .email {
    margin-top: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 100%;
    background-color: #3d3d3d;
    padding: 10px;
    grid-gap: 12px;
  }

  .image {
    max-width: 100%;
    height: 55vw;
  }

  .grid-item2 {
    font-size: 20px;
    background-color: #4061f5;
    opacity: 0.5;
    color: white;
    border: 2px solid black;
    padding: 5px;
  }

  .grid-container-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #3d3d3d;
    padding: 10px;
    grid-gap: 5px;
  }

  .card-img-top {
    width: 100%;
    height: 55vw;
  }

  .about-text {
    font-size: 4vw;
  }

  .flex1 {
    border: 1rem solid #262626;
  }

  .foot-links {
    font-size: 3vw;
  }
}

@media screen and (max-width: 280px) {
  .flex-container {
    flex-direction: column;
  }

  #contact-info {
    width: 95%;
  }

  .contact-info {
    font-size: 1rem;
  }

  #form-info {
    width: 100%;
  }

  .flex1 {
    border: 0.5rem solid #262626;
  }

  .grid-container-card {
    grid-template-columns: repeat(1, 1fr);
  }

}
